body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}


/* Custom style for this app */

.navbar-inverse {
	background: #383838;//#888
}
.navbar-inverse .navbar-brand, .fa-book{
	color: #ccc;//#F2F2F2 
}
.navbar-brand{
	font-variant: small-caps;
}


